<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# The Title of the notebook is Jupyter_Notebook

**Introduction** <br> This is a brief introduction to this Assignment.

The programming languages used in Data Science are: <br>
* Python
* R Language
* SQL
* Java
* Scala
* C++
* Julia
* Javascript

Here is the list of libraries used in Data Science:
* TensorFlow
* Scikit-learn
* PyTorch
* Keras
* Matplotlib
* Pandas
* NumPy
* SciPy
* Ggplot
* ApacheSpark

| Open Source Tools | Data Integration and transformation Tools | Data Visualization Tools | Model Deployment Tools | Model Monitoring tools | Code Asset Management tools | Data Asset management tools |
| --- | --- | --- | --- | --- | --- | --- |
| Relational database | Apache Airflow | Hive | Apache Prediction 10 | Model DB | Git | Apache Atlas |
| NoSQL Databases | Kubeflow | Kibana | Seldon | Prometheus | GitHub | ODPi Egeria | 
| File-based tools | Apache kafka | Apache Superset | Mleap | IBM AI Fairness 360 | GitLab | Kylo |

_Below is a simple arithmetic expression_

In [1]:
(125 * 36) + (78 * 90)

11520

In [9]:
time = float(input("Input time in minutes: "))
hour = time // 60
time %= 60
minutes = time
print("hour:minute-> %d:%d" % (hour, minutes))

Input time in minutes:  220

hour:minute-> 3:40

__Objectives__ <br>
1. Create a markdown cell with the title of the notebook.
2. Create a markdown cell for an introduction.
3. Create a markdown cell to list data science languages.
4. Create a markdown cell to list data science libraries.
5.  Create a markdown cell with a table of Data Science tools.
6. Create a markdown cell introducing arithmetic expression examples.
7. Create a code cell to multiply and add numbers.
8. Create a code cell to convert minutes to hours.
9. Insert a markdown cell to list Objectives.
10. Create a markdown cell to indicate the Authorâ€™s name.
11. Share your notebook through GitHub.
12. Take a screenshot of the first page of the notebook.

_Author's name:_ **Tomisin O. Obijole**

In [2]:
time = float(input("Input time in seconds: "))
day = time // (24 * 3600)
time = time % (24 * 3600)
hour = time // 3600
time %= 3600
minutes = time // 60
time %= 60
seconds = time
print("d:h:m:s-> %d:%d:%d:%d" % (day, hour, minutes, seconds))

Input time in seconds:  566780

d:h:m:s-> 6:13:26:20

In [ ]:
568990